* {
    box-sizing: border-box;
    margin: 0;
}

html {
    background-color: antiquewhite;
}

header {
    width: 80%;
    height: 300px;
    margin: 50px auto;
    position: relative;
}

header p{
    margin-left: 25%;
    padding-top: 10px;
    padding-bottom: 10px;
    font-size: 40px;
}


#header-line-1 {
    float: right;
    width: 70%;
    background-color: rgb(23, 219, 39);
    height: 10px;
}

#header-line-2 {
    float: left;
    width: 40%;
    background-color: rgb(23, 219, 39);
    height: 10px;
}